/*body {

  background-size: 1722px 1459px;
  background-repeat:no-repeat;
  opacity: 0.5;
}*/


#main {
   position: relative;
}
#main:after {
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: url('./imgs/gtrs.jpg');
    background-size: 1722px 1459px;
    background-repeat:no-repeat;
    width: 1722px;
    height: 1459px;
    opacity : 0.8;
    z-index: -1;
}

.container {

}

.container-holder {
  background-color: rgba(239,239,225, 0.8);
  border-radius: 5px;
}

#inner-main {
  padding: 50px;
}

.travel {
  margin-top: 35px;
}



.profile-pic > img {
  height: 260px;
  width: 260px;
  border-radius: 50%;
}

h1 {
  font-family: 'Varela', sans-serif;
}

.bio-intro {
  line-height: 2;
}
